In [57]:
import pandas as pd
# 시즌간 팀별 데이터 합치기
for season in range(2013,2023):
  ex = pd.read_csv(f'{season}-{season+1} 팀별 총 지출액.csv')
  age = pd.read_csv(f'{season}-{season+1} 팀별 평균 나이.csv')
  rank = pd.read_csv(f'{season}-{season+1} 프리미어리그 순위표.csv')

  rank = rank.set_index('Team')
  rank = rank.sort_index()
  rank = rank.loc[:,['Rank','Point','Score','Lose_score']]
  ex = ex.set_index('Team')
  ex = ex.sort_index()
  age = age.set_index('Team')
  age = age.sort_index()

  my_df = rank.join(ex)
  my_df = my_df.join(age)
  
  filename = f'{season}-{season+1} 팀별 데이터.csv'
  my_df.to_csv(filename)
  print(f'{filename} 파일이 생성되었습니다.')

2013-2014 팀별 데이터.csv 파일이 생성되었습니다.
2014-2015 팀별 데이터.csv 파일이 생성되었습니다.
2015-2016 팀별 데이터.csv 파일이 생성되었습니다.
2016-2017 팀별 데이터.csv 파일이 생성되었습니다.
2017-2018 팀별 데이터.csv 파일이 생성되었습니다.
2018-2019 팀별 데이터.csv 파일이 생성되었습니다.
2019-2020 팀별 데이터.csv 파일이 생성되었습니다.
2020-2021 팀별 데이터.csv 파일이 생성되었습니다.
2021-2022 팀별 데이터.csv 파일이 생성되었습니다.
2022-2023 팀별 데이터.csv 파일이 생성되었습니다.

In [69]:
df1 = pd.read_csv('2013-2014 프리미어리그 순위표.csv')
df2 = pd.read_csv('2022-2023 프리미어리그 순위표.csv')
left = df1.set_index('Team').iloc[:,0]
right = df2.set_index('Team').iloc[:,0]
team = df1['Team']

my_dataframe = pd.DataFrame({'2013-2014' : left, '2022-2023' : right},index=team)
my_dataframe.head()

                 2013-2014  2022-2023
Team
Manchester City          1        1.0
Liverpool FC             2        5.0
Chelsea FC               3       12.0
Arsenal FC               4        2.0
Everton FC               5       17.0

In [71]:
df1 = pd.read_csv('2013-2014 프리미어리그 순위표.csv', usecols=['Team','Lose_score'])
df2 = pd.read_csv('2014-2015 프리미어리그 순위표.csv',usecols=['Team','Lose_score'])
left = df1.set_index('Team')
right = df2.set_index('Team')
df3 = left.join(right,rsuffix = f'_2014', how = 'outer' )
df3.to_csv("2014-2015.csv")
for i in range(2015, 2023): 
  df2 = pd.read_csv(f'{i}-{i+1} 프리미어리그 순위표.csv',usecols=['Team','Lose_score'])
  df3 = pd.read_csv(f'{i-1}-{i}.csv')
  left = df3.set_index('Team')
  right = df2.set_index('Team')
  df3 = left.join(right,rsuffix = f'_{i}', how = 'outer' )
  df3.to_csv(f'{i}-{i+1}.csv')